<html>

<head>
        <title>{{title}}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
                crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
                crossorigin="anonymous">
</head>

<body>

<!--commect from facebook-->
        <div id="fb-root"></div>
        <script>(function (d, s, id) {
                        var js, fjs = d.getElementsByTagName(s)[0];
                        if (d.getElementById(id)) return;
                        js = d.createElement(s); js.id = id;
                        js.src = 'https://connect.facebook.net/ar_AR/sdk.js#xfbml=1&version=v2.11';
                        fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));</script>




<!--like from facebook-->
        <div id="fb-root"></div>
        <script>(function (d, s, id) {
                        var js, fjs = d.getElementsByTagName(s)[0];
                        if (d.getElementById(id)) return;
                        js = d.createElement(s); js.id = id;
                        js.src = 'https://connect.facebook.net/ar_AR/sdk.js#xfbml=1&version=v2.11';
                        fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));</script>



        <div class="container">
                <div clas='col-sm-10 col-md-offset-2'>
                        <div class="row">
                                <div class="col-sm-7 col-md-offset-2">
                                        <div class="thumbnail">
                                                <h1 style="color:#3b5998"> {{instance.title}}
                                                        <small>{{instance.timestamp}}</small>
                                                </h1>
                                                <hr> {%if instance.image %}
                                                <img src='{{instance.image.url}}' class="img-responsive" /> {% endif %}
                                                <hr>
                                                <div class="row">
                                                                <div class="col-sm-offset-1">

                                                <p> {{instance.content|linebreaks|truncatechars:120}}</p>
                                                </div>
                                                </div>
                                                <div class="row">
                                                        <div class="col-sm-offset-1">
                                                                <div class="fb-like" data-href="{{request.build_absolute_uri}}" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
                                                                <div class="fb-comments" data-href="{{request.build_absolute_uri}}" data-numposts="5"></div>                
                                                        </div>
                                                </div>
                                                               

                                                
                                                
                                                <br>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
                crossorigin="anonymous"></script>








</body>

</html>